body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: lightblue;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 5px solid black;
}
/* Time, rows, inputs */
.hour {
  background-color: #ffffff;
  color: #000000;
  font-size: large;
  padding: 30px 20px 20px 20px;
  align-content: center;
  vertical-align: middle;
  border-top: 1px dashed #000000;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.description {
  white-space: pre-wrap;
}
.row {
  white-space: pre-wrap;
  min-height: 80px;
  border-top: 1px solid white;
  flex-wrap: wrap;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  min-height: fit-content;
  border-left: 1px solid black;
  padding: 5px;
}
/* buttons */

button {
  background: #0ca38f;
  background-image: -webkit-linear-gradient(top, #0ca38f, #2980b9);
  background-image: -moz-linear-gradient(top, #0ca38f, #2980b9);
  background-image: -ms-linear-gradient(top, #0ca38f, #2980b9);
  background-image: -o-linear-gradient(top, #0ca38f, #2980b9);
  background-image: linear-gradient(to bottom, #0ca38f, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: large;
  border: solid #1f628d 1px;
  flex-grow: inherit;
}

button:hover {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #0ca38f);
  background-image: -moz-linear-gradient(top, #2980b9, #0ca38f);
  background-image: -ms-linear-gradient(top, #2980b9, #0ca38f);
  background-image: -o-linear-gradient(top, #2980b9, #0ca38f);
  background-image: linear-gradient(to bottom, #2980b9, #0ca38f);
  text-decoration: #ffffff;
  flex-grow: inherit;
}

/* format based on time state */
.past {
  background-color: #cecbcb;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #7ce67c;
  color: black;
}
